# Import

In [1]:
%load_ext autoreload
%autoreload 2
%matplotlib inline

In [2]:
from sqlalchemy import create_engine
import pandas as pd
import json
from collections import defaultdict
import matplotlib.pyplot as plt
import datetime

In [3]:
import matplotlib as mpl
mpl.rcParams['pdf.fonttype'] = 42
mpl.style.use('fivethirtyeight')

# Calculate Status for all the patients that has responses

### Query data

In [4]:
engine=create_engine('mysql://junelee:zkxnafhrmdls!28@khartoum.chem-eng.northwestern.edu/checklist')
engine=create_engine('mysql://analyst:analyst@127.0.0.1:7777/icuchecklist')
conn = engine.connect()


patient_response_query = "select pr.*, pd.hash_fin from backend_v10_patientresponse pr left join backend_v10_patientdetailentry pd \
                         on pr.patient_id=pd.id"
df_patient_response = pd.read_sql(patient_response_query, conn)
df_patient_response = df_patient_response.dropna()
df_patient_response['just_date'] = df_patient_response['date'].dt.date
df_patient_response = df_patient_response[df_patient_response.date < pd.Timestamp('2017-07-01 00:00:00')]
df_patient_response = df_patient_response[~df_patient_response.user_detail_id.isin([7,8,20])]


patient_query = "select * from backend_v10_patientdetailentry"
df_patient = pd.read_sql(patient_query, conn)
df_patient['just_date'] = df_patient['date'].dt.date
df_patient = df_patient[df_patient.date < pd.Timestamp('2017-07-01 00:00:00')]

tmetryentry_query = "select * from backend_v10_tmetryentry"
df_tmetryentry = pd.read_sql(tmetryentry_query, conn)
df_tmetryentry['just_date'] = df_tmetryentry['date'].dt.date
df_tmetryentry = df_tmetryentry[df_tmetryentry.date < pd.Timestamp('2017-07-01 00:00:00')]
df_tmetryentry = df_tmetryentry[~df_tmetryentry.user_detail_id.isin([7,8,20])]

### How each dataframe looks like

In [5]:
#Information for all of the entries
df_tmetryentry.head()

,id,session_id,date,object,action,strValue,unit_id,user_detail_id,intValue,just_date
28620,29918,2139699710,2017-05-15 13:07:14.407210,1,201,nm177724,3.0,67,NaN,2017-05-15
28621,29919,2139699710,2017-05-15 13:07:14.536299,1,203,nm177724,3.0,67,NaN,2017-05-15
28622,29920,2139699710,2017-05-15 13:07:14.536680,2,204,nm177724,3.0,67,NaN,2017-05-15
28623,29921,2139699710,2017-05-15 13:07:14.567145,2,301,nm177724,3.0,67,NaN,2017-05-15
28624,29922,2139699710,2017-05-15 13:07:14.567565,3,302,nm177724,3.0,67,NaN,2017-05-15

In [9]:
#information on the answers
df_patient_response.head()

,id,checklist_id,question_id,workday,response,date,patient_id,unit_id,user_detail_id,hash_fin,just_date
24,52,1,$0101,2017-05-15,Y,2017-05-15 13:09:54.224097,54,4,69,40dab740d74ff92253b9d3c2bee5fbb26e665f26,2017-05-15
25,53,1,$0201,2017-05-15,N,2017-05-15 13:10:22.898225,54,4,69,40dab740d74ff92253b9d3c2bee5fbb26e665f26,2017-05-15
26,54,1,$0203,2017-05-15,N,2017-05-15 13:10:24.263776,54,4,69,40dab740d74ff92253b9d3c2bee5fbb26e665f26,2017-05-15
27,55,1,$0801,2017-05-15,Y,2017-05-15 15:03:29.340876,46,3,67,40dab740d74ff92253b9d3c2bee5fbb26e665f26,2017-05-15
28,56,1,$0801,2017-05-15,Y,2017-05-15 13:42:35.473971,55,4,69,40dab740d74ff92253b9d3c2bee5fbb26e665f26,2017-05-15

In [10]:
#information on the patients
df_patient.head()

,id,hash_fin,date,checklist_id,visible_groups,los_icu,los,apache_is_completed,has_antibiotics,has_lines,has_medication,has_ventilation,workday,unit_id,user_detail_id,just_date
0,44,99b2749dd914e4a98ae987f37356a7df60c840c1,2017-04-26 19:40:32.087904,1,"08,07,03",3 days,3 days,1,0,1,1,0,2017-04-26,3,7,2017-04-26
1,45,99b2749dd914e4a98ae987f37356a7df60c840c1,2017-04-26 19:42:33.481153,1,"07,03,08",3 days,3 days,1,0,1,1,0,2017-04-26,3,7,2017-04-26
2,46,40dab740d74ff92253b9d3c2bee5fbb26e665f26,2017-04-28 19:40:00.586307,1,"06,08,07,03",1 hour,2 days,1,1,1,1,0,2017-04-28,3,7,2017-04-28
3,47,517f5c02fee6304bf8f97ed13a9ce8399f44456b,2017-04-28 19:41:07.897426,1,"08,07,06,03",1 day,1 day,1,1,1,1,0,2017-04-28,3,7,2017-04-28
4,48,40dab740d74ff92253b9d3c2bee5fbb26e665f26,2017-04-28 19:41:26.418122,1,"03,08,07,06",1 hour,2 days,1,1,1,1,0,2017-04-28,3,7,2017-04-28

In [13]:
#matching patients with the answers
df_merge_patient_response = pd.merge(df_patient_response, df_patient, left_on='patient_id', right_on='id')
# df_merge_patient_response[['checklist_id_x', 'question_id_x', 'workday_x', 'response', 'date_x', 'patient_id',]]
df_merge_patient_response.columns

Index(['id_x', 'checklist_id_x', 'question_id', 'workday_x', 'response',
       'date_x', 'patient_id', 'unit_id_x', 'user_detail_id_x', 'hash_fin_x',
       'just_date_x', 'id_y', 'hash_fin_y', 'date_y', 'checklist_id_y',
       'visible_groups', 'los_icu', 'los', 'apache_is_completed',
       'has_antibiotics', 'has_lines', 'has_medication', 'has_ventilation',
       'workday_y', 'unit_id_y', 'user_detail_id_y', 'just_date_y'],
      dtype='object')

# Specific Categories

Yeah, so they want to look at three specific questions: 1) DVT, 2) Lines (specifically central lines if their version has it split into peripheral and central), 3) Foleys


[2:01] 
I think for each question, what they want to know is: for each week, 1) how many patients total were the questions answered, 2) for the patients where it was answered, what are the proportions of the different answers, 3) for patients where the 'bad' answer was given initially (no we can't discontinue the foley, no we can't pull the line, etc), how many days did they spend in the 'bad' answer category before switching to the 'good' category. [Taking into account where it was contraindicated]


[2:02] 
they want to see it because they measure all these things by another method (probably nursing reports) and they want to see if those two sources (us vs nursing reports) have any differences

# 1 backendLogin = 1
2 cernerObtainToken = 2
3 cernerAuthenticate = 3
4 selectUnit = 4
5 login = 5
6 patientList = 6
7 patientDetail = 7

ACTIONS

0 error = 0
   
# beaconTimer
101 beaconStatus = 101

# backendLogin
201 challenge = 201
202 challengeError = 202
203 challengeAccepted = 203
204 connecting = 204
205 logged = 205
206 logout = 206
   
# cernerAuthenticate
301 obtained = 301
302 authenticating = 302
303 authenticated = 303
   
# selectUnit
401 selected = 401
   
# patientList & patientDetail
501 help = 501
502 loaded = 502
503 loadError = 503
   
# patientList
601 refresh = 601
602 selectPatient = 602
   
# patientDetail
701 answer = 701
702 showGroup = 702
703 EMRInfoHidden = 703
704 EMRInfoExpanded = 704

# NSICU (unit 3)
01 ventilatorWeaning 

03 linesFood 

06 antibiotics 

07 dvt 

08 pressureUlcer 

10 NO 

### CTICU (unit 4)
01 ventilatorWeaning 

03 linesFood 

06 antibiotics 

07 dvt 

08 pressureUlcer 

10 NO

In [73]:
checklist_query = "select * from backend_v10_checklist"
df_checklist = pd.read_sql(checklist_query, conn)
df_checklist

,id,public_id,name,text,in_production,unit_id
0,2,20,Test,"{""id"": ""20"", ""groups"": [{""id"": ""01"", ""dependen...",1,1
1,5,1,Initial checklist,"{""order"": ""(01,{03|06|07|08},10)"", ""id"": ""1"", ...",1,3
2,10,1,Initial checklist,"{""order"": ""(01,{03|06|07|08},10)"", ""id"": ""1"", ...",1,4
3,11,4,No ARDS with N/A (lowercase),"{""order"": ""(01,{03|06|07|08},10)"", ""groups"": [...",1,8
4,12,100,Leigh Wild Checklist,"{""order"": ""(01,{03|06|07|08},10)"", ""groups"": [...",1,8
5,13,2,Initial checklist with tracheostomy question,"{""description"": ""Initial checklist with trache...",1,3
6,14,2,Initial checklist with tracheostomy question,"{""description"": ""Initial checklist with trache...",1,4

In [94]:
import ast
unit3_2 =ast.literal_eval(df_checklist.text[2])
unit3_1=ast.literal_eval(df_checklist.text[6])

In [95]:
for key, val in unit3_1.items():
    print(key, val, type(val),len(val))
    print()

id 2 <class 'str'> 1

order (01,{03|06|07|08},10) <class 'str'> 21

groups [{'emrInfoId': 'ventilatorWeaning', 'sections': [{'id': '$0100', 'title': 'Sedation:', 'dependence': 'hasMedication', 'questions': [{'text': 'Has a sedation awakening trial (SAT) been performed today?', 'id': '$0101', 'dependence': 'true', 'indentation': 0, 'questionType': 'Q'}, {'text': 'Is it appropriate to perform an SAT today?', 'id': '$0102', 'dependence': "$0101=='N'", 'indentation': 0, 'questionType': 'A'}]}, {'id': '$0200', 'title': 'Ventilator weaning:', 'dependence': 'hasVentilation', 'questions': [{'text': 'Has a spontaneous breathing trial (SBT) been performed today?', 'id': '$0201', 'dependence': 'true', 'indentation': 0, 'questionType': 'Q'}, {'text': 'Can the patient be extubated today?', 'id': '$0202', 'dependence': "$0201=='Y'", 'indentation': 0, 'questionType': 'Q'}, {'text': 'Does the patient have a tracheostomy or is scheduled for tracheostomy placement?', 'id': '$0205', 'dependence': "$0201=='Y' and $0202=='N'", 'indentation': 0, 'questionType': 'Q'}, {'text': 'Is it appropriate to perform an SBT today?', 'id': '$0203', 'dependence': "$0201=='N'", 'indentation': 0, 'questionType': 'Q'}, {'text': 'Can the patient be extubated today?', 'id': '$0204', 'dependence': "$0201=='N' and $0203=='Y'", 'indentation': 0, 'questionType': 'Q'}, {'text': 'Does the patient have a tracheostomy or is scheduled for tracheostomy placement?', 'id': '$0206', 'dependence': "$0201=='N' and $0203=='Y' and $0204=='N'", 'indentation': 0, 'questionType': 'Q'}]}], 'dependence': 'hasVentilation', 'id': '01', 'title': 'Ventilator & Sedation Weaning'}, {'emrInfoId': 'linesFood', 'sections': [{'id': '$0300', 'title': 'Vascular access:', 'dependence': 'true', 'questions': [{'text': 'Can any central venous or arterial lines be removed?', 'id': '$0301', 'dependence': 'true', 'indentation': 0, 'questionType': 'A'}]}, {'id': '$0400', 'title': 'Urinary catheters:', 'dependence': 'true', 'questions': [{'text': 'Can the urinary catheter be removed today?', 'id': '$0401', 'dependence': 'true', 'indentation': 0, 'questionType': 'A'}, {'text': 'Is this catheter a nurse managed protocol?', 'id': '$0402', 'dependence': 'true', 'indentation': 0, 'questionType': 'Q'}, {'text': ' (NO means MD managed protocol)', 'id': '$0403', 'dependence': 'true', 'indentation': 3, 'questionType': 'T'}]}, {'id': '$0500', 'title': 'Nutrition:', 'dependence': 'true', 'questions': [{'text': 'Is it appropriate to increase nutrition today?', 'id': '$0501', 'dependence': 'true', 'indentation': 0, 'questionType': 'A'}]}], 'dependence': 'true', 'id': '03', 'title': 'Vascular Access, Urinary Catheter & Nutrition'}, {'emrInfoId': 'antibiotics', 'sections': [{'id': '$0600', 'title': '', 'dependence': 'true', 'questions': [{'text': 'Can antibiotic coverage be stopped or narrowed today?', 'id': '$0601', 'dependence': 'true', 'indentation': 0, 'questionType': 'Q'}]}], 'dependence': 'hasAntibiotics', 'id': '06', 'title': 'Antibiotics'}, {'emrInfoId': 'dvt', 'sections': [{'id': '$0700', 'title': '', 'dependence': 'true', 'questions': [{'text': 'Is the patient on appropriate DVT chemoprophylaxis?', 'id': '$0701', 'dependence': 'true', 'indentation': 0, 'questionType': 'Q'}, {'text': 'Is it contraindicated?', 'id': '$0702', 'dependence': "$0701=='N'", 'indentation': 0, 'questionType': 'Q'}, {'text': "Can the patient's mobility be increased today?", 'id': '$0703', 'dependence': 'true', 'indentation': 0, 'questionType': 'A'}]}], 'dependence': 'true', 'id': '07', 'title': 'DVT'}, {'emrInfoId': 'pressureUlcer', 'sections': [{'id': '$0800', 'title': '', 'dependence': 'true', 'questions': [{'text': 'Has the patient been reviewed for pressure ulcers today?', 'id': '$0801', 'dependence': 'true', 'indentation': 0, 'questionType': 'Q'}]}], 'dependence': 'true', 'id': '08', 'title': 'Pressure Ulcers'}, {'emrInfoId': 'NO', 'sections': [{'id': '$1000', 'title': '', 'dependence': 'true', 'questions': [{'text': 'APACHE form is not complete. Please fill out the APACHE form.', 'id': '$1001', 'dependence': 'true', 'indentation': 0, 'questionType': 'T'}]}], 'dependence': '!apacheIsCompleted', 'id': '10', 'title': 'Apache'}] <class 'list'> 6

description Initial checklist with tracheostomy question <class 'str'> 44

In [96]:
for a in unit3_1['groups']:
    print(a['id'], a['emrInfoId'], '\n')

01 ventilatorWeaning

03 linesFood

06 antibiotics

07 dvt

08 pressureUlcer

10 NO

In [97]:
for b in unit3_2['groups']:
    print(b['id'], b['emrInfoId'], '\n')

01 ventilatorWeaning

03 linesFood

06 antibiotics

07 dvt

08 pressureUlcer

10 NO